/* Variabler */

$primary-color: #fbeedc; 
$text-color: black;
$secondary-color: #FF0000;
$primary-font: 'Sarpanch', sans-serif;
$secondary-font: 'Roboto', sans-serif;

@mixin center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.8s ease forwards;
  }